BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
ReflowComments: true
SortIncludes: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4